body{
    background-color: whitesmoke;

}

h1{
    color:white;
    background-color: #7D0A0A;
    padding: 10px;
}
#ingredientsContainer{
    width: 95%;
    margin: 2%;
    display: flex;  
    gap: 20px;
    border:1px solid black;
    padding: 10px;
    background-color: white;
    
}
ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#recipeContainer > div{
    margin: 2%;
    width: 48%;
    height: 20vh;
    padding: 1%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px gray;
    display:inline-block;
}
#recipeContainer{
    display:flex;
}
#recipe{
    display: inline-block;
}